---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% if post.path contains 'evonoodles' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.portfolio %}
  {% if post.path contains 'gait' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.portfolio %}
  {% if post.path contains 'tactile' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.portfolio %}
  {% if post.path contains 'femoral' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.portfolio %}
  {% if post.path contains 'tka' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.portfolio %}
  {% if post.path contains 'disease' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.portfolio %}
  {% if post.path contains 'bar' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.portfolio %}
  {% if post.path contains 'java' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.portfolio %}
  {% if post.path contains 'nfl' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
